.worksheetForm{
    justify-content: left;
    padding: 10px;
    margin: auto;
    border-color: aliceblue;
    border-style: ridge;
    background-color: aliceblue;
    border-radius: 5px;
    width: 550px;
    height: max-content;
    color: black;
    font-size: medium;
}
.cst{
    opacity: 76%;
    background-image: url("https://images.unsplash.com/photo-1612453456689-7041c5312309?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80");
    background-attachment: fixed;
    background-size: auto;
    background-repeat: repeat-x;
    background-position-y: center;
    display: flex;
    color:white;
    flex-direction: column;
    justify-content: center;
    width: 550px;
    padding:15px;
    height: auto;
    margin: auto;
    border-radius: 50px;
    background-color:beige;
    font-size:x-large;
    font-weight:bolder;
    font-family: sans-serif;
}

.activity__container{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    justify-items: center;
    font-size: large;
    padding: 8px;
    margin: auto;
    width: 450px;
    height:450px;
    grid-row: inherit;
    color: white;
    border-radius: 15px;
    border-style: solid;
    background-color:cornflowerblue;
    font-family: sans-serif;
    font-stretch:expanded;
    
}
.activity__title{
    font-size: smaller;
    justify-content: center;
}
.bdrp{
    background-image: url("https://images.unsplash.com/photo-1500823075810-5ca0b9eebe85?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=305&q=80");
    background-attachment: fixed;
    background-size: auto;
    background-repeat: repeat-x;
    background-position-y: center;
    opacity: 90%;
}
.nst{
    width: 750px;
    height: 450px;
    border-radius: 30px;
    padding: 20px;
}
.sgt{
    width: 750px;
    height: 650px;
    border-radius: 30px;  
    padding: 20px;
}