.nav__header li {
  border-radius: 6px;
  cursor: pointer;
  padding: 10px;
  list-style-type: none;
  font-size: large;
}

.footer {
  margin-top: 2em;
  margin-bottom: 1em;
  color: red;
  font-weight: bold;
  padding: 1em 0;
  text-align: center;
}

.footer_nav li {
  border-radius: 6px;
  cursor: pointer;
  padding: 8px;
  margin-left: 20px;
  list-style-type: none;
  font-size: large;
}

.footer_nav {
  display: flex;
  justify-content: center;
  font-size: large;
}

nav {
  background-color: rgb(165, 175, 177);
  font: normal bold 11px Arial, Sans-Serif;
  color: whitesmoke;
  height: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  padding: 15px;
}

nav ul,
nav li {
  margin: 0 0;
  padding: 10 0;
  list-style: none;
}

nav ul {
  height: 30px;
}

nav li {
  float: left;
  display: inline;
}

nav a {
  display: block;
  line-height: 30px;
  padding: 0 14px;
  text-decoration: none;
  color: white;
}

/* hover state menu */
nav a:hover {
  background-color: #39f;
}

/* checkbox element: for mobile navigation button */
nav input {
  display: none;
  margin: 0 0;
  padding: 0 0;
  width: 30px;
  height: 30px;
  opacity: 0; /* hide the checkbox */
  filter: alpha(opacity=0); /* hmmm... */
  cursor: pointer;
}

/* for visual purpose */
nav label {
  display: none;
  font-size: 200%;
  width: 30px;
  height: 30px;
  /* center vertically and horizontally */
  line-height: 30px;
  text-align: center;
}

/* MOBILE NAVIGATION */

@media (max-width: 1000px) {
  nav {
    /* we want to absolute positioning the menu, checkbox and label element to its parent, so this is needed */
    position: relative;
  }

  nav ul {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    color: black;
    background-color: rgb(252, 208, 208);
    height: 0; /* set the sub menu height to `0` */
    visibility: hidden; /* use `visibility:hidden` instead of `display:none`, so we can animate the sub menu height */
    overflow: hidden;
    /* use CSS transition to animate the sub menu height */
    -webkit-transition: all 0.26s ease-in-out;
    -moz-transition: all 0.26s ease-in-out;
    -ms-transition: all 0.26s ease-in-out;
    -o-transition: all 0.26s ease-in-out;
    transition: all 0.26s ease-in-out;
  }

  /* set the menu as a block list item */
  nav li {
    display: block;
    float: none;
    width: auto;
  }

  /* now show the checkbox and label element in mobile device */
  nav input,
  nav label {
    position: absolute;
    top: 0;
    right: 0;
    display: block; /* show the menu icon */
  }

  nav input {
    z-index: 4;
  } /* always place the checkbox above the label element */

  /* highlight the label element and show the menu if the checkbox is checked */
  nav input:checked + label {
    color: white;
  }
  nav input:checked ~ ul {
    height: 330px; /* (menu item height multiplied by menu length) */
    visibility: visible;
  }
}
