body {
    font-family: 'Montserrat', sans-serif;
 background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(182, 177, 177);
}

.container {
    background-image: url("https://images.unsplash.com/photo-1610306673899-d10f9f5e7ece?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");    
}

.loginLogo {
    height: 800px;
    position: absolute;
    left: 900px;
}
.loginFields {
    height: 330px;
    left: 1100px;
    width: 400px;
    position: absolute;
    text-align: center;
    top: 540px;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(17, 17, 17);
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: bold;
}
#userNameLogin {
    background-color: rgb(196, 181, 181); 
    padding: 10px;
    width: 250px;  
}
.userNameLogin {
    border-radius: 15px;
}
#userPasswordLogin {
    background-color: rgb(196, 181, 181);
    margin-top: 15px;
    padding: 10px;
    width: 250px;
}
.passwordLogin {
    border-radius: 15px;
}

input[type=submit] {
    background-color: gray;
    color: white;
    padding: 14px;
    border: 1px solid rgb(17, 17, 17);
    border-radius: 15px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: rgb(196, 181, 181);
   
  }

.loginTOS {
    color: white;
    font-weight: bold;
    margin-top: 135px;
}
@media only screen and (max-width: 961px) {
    body { display: flex;
      flex-direction: column;
    }
    }