.login__body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;    
}
.login__container {
    background-image: url("https://images.unsplash.com/photo-1610306673899-d10f9f5e7ece?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");    
    background-attachment: fixed;
    height: 1250px;
  
}
.loginLogo {
    height: 680px;
    margin-left: -20px;
    display: block;
    margin-left: 45%;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(17, 17, 17);
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: bold;
}
#userNameLogin {
    background-color: rgb(196, 181, 181); 
    padding: 10px;
    margin: 20px;
    width: 250px;  
}
.userNameLogin {
    border-radius: 15px;
    display: block;
    margin-left: 30%;
    margin-top: -250px;
}
#userPasswordLogin {
    background-color: rgb(196, 181, 181);
    padding: 10px;
    width: 250px;
}
.passwordLogin {
    border-radius: 15px;
}

input[type=submit] {
    background-color: gray;
    color: white;
    padding: 14px;
    border: 1px solid rgb(17, 17, 17);
    border-radius: 15px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: rgb(196, 181, 181); 
  }
.loginButton {
    margin: 20px;
}
.loginTOS {
    color: white;
    font-weight: bold;
    display: block;
    margin-left: -80px;
    margin-top: 150px;
}

    @media only screen and (max-width:960px) {
        .login__body {
        display: flex;
      flex-direction: column;
        }
        .login__container {
            background-image: url("https://images.unsplash.com/photo-1610306673899-d10f9f5e7ece?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");    
            height: 1000px;
            width: 100%;
          
        }
        .loginLogo {
            height: 250px;
            display: block;
            margin-left: -10.5%;
            margin-top: 60px;
        }
        .userNameLogin {
            border-radius: 15px;
            display: flex;
            margin-left: 12%;
            margin-top: -100px;
            height: 20px;
        }
        input[type=text] {
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid rgb(17, 17, 17);
            border-radius: 4px;
            box-sizing: border-box;
            font-weight: bold;
        }
        #userNameLogin {
            background-color: rgb(196, 181, 181); 
            padding: 10px;
            margin-left: -30px;
            width: 60%;  
        }
        #userPasswordLogin {
            background-color: rgb(196, 181, 181);
            padding: 10px;
            margin-left: -20px;
            width: 60%;
        }
    }