.MB1 {
  margin-left: -900px;
  margin-top: 100px;
  background-image: url();
  width: 90%;
  margin-left: 5%;
  padding: 20px;
  border-radius: 20%;
  font-size: x-large;
  color: azure;
}
.MB2 {
  height: 410px;
  margin-left: 20%;
  margin-top: 50px;
  background-color: rgb(73, 154, 168);
  width: 60%;
}
.messageBoard {
  background-image: url("https://images.unsplash.com/photo-1569437061241-a848be43cc82?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
  background-attachment: fixed;
  background-size:auto;
  background-repeat: repeat-x;
  background-position-y: center;
  
}
.messageBoardTable{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
}
.subject,.title,.post,.content{
  justify-content: left;
  padding: 10px;
  margin: auto;
  border-color:aliceblue;
  border-style: ridge;
  background-color: aliceblue;
  border-radius: 5px;
  width: 550px;
  height:max-content;
  color: black;
  font-size:medium;
}
@media only screen and (max-width: 1000px) {
  .MB1 {
    border-radius: 0%;
    width: 85%;
    margin-top: -35px;
  }
  .MB_img_s {
    background-image: url("/images/mb_img.png");
    background-repeat: no-repeat;
    height: 200px;
    margin-top: -30px;
    margin-left: 10px;
  }
}
