.messageBoard__container{
    background-color: rgb(236, 231, 231);
    justify-content: center;
    text-align: center;
}

.replyMB input {
    width: 400px;
    justify-content: center;
}

.assessmentMenuMB {
    width: 400px;
    justify-content: center;
}