
.userClassContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;

}

.moodHeader, .triggerHeader, .copingHeader {
    align-items: center;
}

.mood_disclaimer, .trigger_disclaimer, .coping_disclaimer {
    margin-bottom: 20px;
}

.mood_disclaimer, .trigger_disclaimer, .coping_disclaimer:hover {
    color: red;

}

.userDiv2 {
    padding-left: 20px;
    padding-top: 20px;
}