.response__container {
    background-color: rgb(236, 231, 231);
    text-align: center;
    font-size: 1vw; 
}
.home__HR_logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -25px;
    width: 65%;
}

.user_response {
    font-size: 2vw; 
}

.response_quote__container {
    align-items: center;
    margin-top: 50px;
}


.response_card_img {
    transition: 0.3s;
    width: 23%;
    margin: 30px;
}
.response_card_img:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  @media only screen and (min-width:400px) {
      .home__container {
          display: block;
 margin-left: -10px;
      }
  }

