
body {
  background-color: rgb(236, 231, 231);
  text-align: center;
}
.login{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.IntakeGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template: 
  "P1 P2";

}
.intake {
  grid-area: P2;
  margin-left: -900px;
  margin-top: 100px;

}
.Img2__Profile {
  grid-area: P1;
  height: 500px;
  margin-left: 200px;
  margin-top: 100px;
}



@media only screen and (max-width:1000px) {
  body {
      display: block;
margin-left: -10px;
  }
  .Img1__Assessment {
    width: 90%
  }
  .IntakeGrid {
    display: block
  }
  .Img2__Profile {
    height: 200px;
    margin-left: 0px;
    margin-top: -25px;
  }
  .intake {
    text-align: center;
    height: 500px;
    margin-left: 50px;
    margin-top: 20px;
     }
     .Img1__Assessment  {
       display: none;
     }
     .Img2__Assessment {
       background-image: url(/images/Assess-Img2_s.png);
       height: 250px;
       background-repeat: no-repeat;
       margin-left: 50px;
     }
     .assessmentMenu {
       margin-top: 5px;
     }

}